@page
@model WebApplication3.Pages.CategoryListModel
@{
}
<h2>Lista produktów</h2>
 <div class="row col-sm-12">
 <a asp-page="CategoryAdd" class="btn btn-primary btn-large">Dodaj</a>
 </div>
 <br /><br />
 <table class="table table-striped">
 <thead>
 <tr>
 <th scope="col">@Html.DisplayNameFor(model =>
Model.categoryList[0].id)</th>
 <th scope="col">@Html.DisplayNameFor(model =>
Model.categoryList[0].shortName)</th>
 <th scope="col">@Html.DisplayNameFor(model =>
Model.categoryList[0].longName)</th>
 <th scope="col">Akcja</th>
 </tr>
 </thead>
 <tbody>
 @foreach (var p in Model.categoryList)
 {
 <tr>
 <th scope="row">@Html.DisplayFor(m => p.id)</th>
 <td>@Html.DisplayFor(m => p.shortName)</td>
 <td>@Html.DisplayFor(m => p.longName)</td>
 <td>
 <a asp-page="CategoryDetails" asp-route-id=@p.id>Szczegóły</a> |
 <a asp-page="CategoryEdit" asp-route-id=@p.id>Edytuj</a> |
 <a asp-page="CategoryDelete" asp-route-id=@p.id>Kasuj</a> |
 </td>
 </tr>
 }
 </tbody>
 </table>
 <a asp-page="List">Lista Produktów</a>
